<% provide(:title, @user.name) %>
<!---------------------------------------------------       -------------------->


<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-8 username">
      <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
    </div>
  </div>
    
  <div class="row">
    <div class="col-md-3 col-md-offset-8">
      <p  style="border-top: 1px solid #eaeaea; border-radius: 10%; font-size: 1.4em;">
          شهر: <%= @user.city %>
          <br>
          مهارت: <%= @user.work %>
          <br>
          سابقه استارتاپی: <%= @user.exp %>
        </p>
    </div>
    <div class="col-md-5 col-md-offset-5">
      <h3>درباره من </h3>
        <p style="font-size: 1.2em;" id="about">
          <%= raw(@user.about) %>
        </p>
    </div>
  </div>
</div>
