<header class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <div class="navbar-header">
        <% if logged_in? %>
          <%= link_to image_tag("htlogo2.png", alt: "logo", style:"height: 50px; width: 135px;"), current_user, :id => "logo" %>
       <% else %>
          <%= link_to image_tag("htlogo2.png", alt: "logo", style:"height: 50px; width: 135px;"), root_path, :id => "logo" %>
       <% end %>
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>
      <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li style="font-size: 1.2em"><%= link_to "همتیمی ها", users_path %></li>
          <li style="font-size: 1.2em" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              اکانتم <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li style="font-size: 1.2em, dir:rtl"><%= link_to "من", current_user %></li>
              <li style="font-size: 1.2em"><%= link_to "تنظیمات", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li style="font-size: 1.2em">
                <%= link_to "خروج", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li style="font-size: 1.2em"><%= link_to "درباره", "#three-points" %></li> 
          <li style="font-size: 1.2em"><%= link_to "ورود", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
